@import '../var-defaults.scss';
@import '../_mixins.scss';
@import '_attractions-theme.scss';

.tab {
  display: flex;
  align-items: stretch;

  > input {
    @include hide-accessible;
  }

  :global .ripple {
    background: transparentize($main, .9);
  }

  > .content {
    border: 0 solid lighten($off-state, 25%);
    border-bottom-width: .125em;
    font-family: $font;
    font-weight: $bold-font-weight;
    color: $main;
    padding: .7em .6em .5em;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-top-left-radius: .3125em;
    border-top-right-radius: .3125em;

    &:hover {
      background: transparentize($off-state, .9);
    }
  }

  > input:focus + .content {
    background: transparentize($off-state, .85);
  }

  > input:checked + .content {
    border-color: transparentize($main, .4);
  }
}
