@use 'attractions-theme' as vars;

.preview {
  align-items: center;
  background: vars.$background;
  border-radius: 0.25em;
  display: flex;
  font-size: 0.8em;
  font-weight: 300;
  justify-content: center;
  padding: 0.25em 0.5em;
  width: 5em;
}

.value-popover {
  background: vars.$background;
  border-radius: 0.5em;
  box-shadow: vars.$shadow-raised;
  color: vars.$dark;
  font-family: 'Roboto Mono', monospace;
  margin-right: 0.25em;
  padding: 0.5em;
  white-space: pre;
}
