@import '../var-defaults.scss';
@import '_attractions-theme.scss';

div[role=group] {
  :global(.radio:not(.colored) > .icon) {
    margin: 0 .5em;
  }

  :global(.radio.colored > input + .icon::before) {
    background-color: lightgray;
    background-color: rgb(var(--before-r), var(--before-g), var(--before-b));
  }

  :global(.radio.colored:hover > input + .icon::after),
  :global(label:hover .radio.colored > input + .icon::after) {
    background-color: rgba(0, 0, 0, .05);
    background-color: rgba(var(--r), var(--g), var(--b), .05);
  }

  :global(.radio.colored > input:focus + .icon::after),
  :global(label:hover .radio.colored > input:focus + .icon::after) {
    background-color: rgba(0, 0, 0, .125);
    background-color: rgba(var(--r), var(--g), var(--b), .125);
  }
}
