{
  "plugins": [
    "stylelint-scss",
  ],
  "extends": ["stylelint-config-standard"],
  "rules": {
    "number-leading-zero": "never",
    "selector-list-comma-newline-after": null,
    "no-descending-specificity": null,
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "selector-pseudo-class-no-unknown": null,
  },
}
