@import '../var-defaults.scss';
@import '_attractions-theme.scss';

li {
  list-style: none;
}

button {
  background: none;
  border: 0;
  outline: none;
  cursor: pointer;
  font-family: $font;
  font-size: 1em;
  width: 100%;
  text-align: left;
  padding: 0.7em 1.2em;

  .subtext {
    font-size: 0.95em;
    margin-top: 0.2em;
    font-weight: $thin-font-weight;
  }

  &:hover {
    background: transparentize($main, 0.95);
  }

  &:focus {
    background: transparentize($main, 0.925);
  }

  mark {
    background: none;
    color: $main;
    font-weight: $bold-font-weight;
  }
}
