@import '../var-defaults.scss';
@import '_attractions-theme.scss';

.autocomplete {
  padding: 0.25em 0.625em 0.0625em;
  box-sizing: border-box;
  border-bottom: 0.0625em solid $textfield-border;
  background-color: $textfield-bg;
  border-top-left-radius: 0.375em;
  border-top-right-radius: 0.375em;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &:hover {
    background-color: darken($textfield-bg, 3%);
  }

  &.focus {
    background-color: darken($textfield-bg, 8%);
    border-bottom-width: 0.125em;
    border-color: lighten($main, 4%);
    padding-bottom: 0;
  }

  :global .autocomplete-field {
    flex: 1;

    input {
      border: 0;
      background: none;
      outline: none;
      min-width: 13em;
      height: 2.8em;
      font-family: $font;
      width: 100%;
      font-size: 1em;
    }
  }

  :global .chip.no-padding {
    display: flex;
    align-items: center;
    padding-left: 0.7em;
    margin: 0.2em 0.4em 0.2em 0;
    font-size: 0.95em;

    .btn {
      margin-left: 0.3em;
    }

    svg {
      width: 1.2em;
      height: 1.2em;
    }
  }
}
