@import '../var-defaults.scss';
@import '../_mixins.scss';
@import '_attractions-theme.scss';

.shown-on-focus {
  display: flex;
  justify-content: center;

  > :global .btn {
    @include hide-accessible;

    &:focus {
      @include show-accessible;

      margin: 0.5em;
    }
  }
}

.notice {
  font-size: 0.9em;
  margin: 0.5em;
  font-weight: $thin-font-weight;
}

input + :global .dropdown {
  border-radius: 0.5em;
  overflow: hidden;
}

.options-list {
  padding: 0;
  margin: 0;
  max-height: 15em;
  overflow-y: scroll;
  overscroll-behavior: none;

  &::-webkit-scrollbar {
    width: 0.3125em;
    height: 0.5em;
    background: none;
    margin: 1em 0;
  }

  &::-webkit-scrollbar-thumb {
    background: $light-contrast;
    border-radius: 0.3125em;

    &:hover {
      background: darken($light-contrast, 10%);
    }
  }

  :global li {
    &:first-child {
      margin-top: 0.5em;
    }

    &:last-child {
      margin-bottom: 0.5em;
    }
  }

  .loading-options {
    display: flex;
    align-items: center;
    font-size: 0.95em;
    margin: 0.5em 1.2em;

    :global .spinner {
      margin: 0.3em 0.7em 0.3em 0;
    }
  }

  .more-options {
    margin-left: 0.5em;
    margin-right: 0.5em;

    :global svg {
      margin-right: 0.5em;
    }
  }
}
