@import '../var-defaults.scss';
@import '_attractions-theme.scss';

hr {
  border: 0 solid $light-contrast;
  border-top-width: 1px;
  margin-top: 1em;
  width: 100%;

  &[data-text] {
    position: relative;
    overflow: visible;

    &::after {
      content: attr(data-text);
      background: $background;
      padding: 0 .4em;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -55%);
      font-size: .85rem;
    }
  }
}
