@use 'sass:color';
@use 'sass:math';
@use 'node_modules/attractions/_variables' as vars;
@use '../mixins';

.switch {
  display: flex;
  align-items: center;
  font-family: vars.$font;
  cursor: pointer;

  input {
    @include mixins.hide-accessible;
  }

  .track {
    position: relative;
    width: 2em;
    height: 1.125em;
    border-radius: 0.75em;
    border: 0.125em solid vars.$off-state;
    cursor: pointer;

    &::before {
      content: '';
      width: 3.25em;
      height: 2.375em;
      border-radius: 1.125em;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    > .thumb {
      border-radius: 50%;
      width: 0.75em;
      height: 0.75em;
      background: vars.$off-state;
      position: absolute;
      top: 50%;
      left: 0.25em;
      transform: translateY(-50%);
      transition: transform 100ms;
    }
  }

  input:checked ~ .track {
    border-color: vars.$main;

    > .thumb {
      background-color: vars.$main;
      transform: translateY(-50%) translateX(100%);
    }
  }

  input:disabled ~ .track {
    cursor: not-allowed;
    border-color: vars.$disabled;

    > .thumb {
      background: none;
      border: 0.125em solid vars.$disabled;
      width: 0.5em;
      height: 0.5em;
      position: relative;

      &::before {
        content: '';
        width: 100%;
        height: 0.125em;
        left: 0;
        top: math.div(0.5em - 0.125em, 2);
        background: vars.$disabled;
        position: absolute;
        transform: rotate(-45deg);
      }
    }
  }

  input:focus ~ .track::before {
    background: color.adjust(black, $alpha: -0.9);
  }

  input:focus:checked ~ .track::before {
    background: color.adjust(vars.$main, $alpha: -0.9);
  }
}

.switch:hover {
  .track::before {
    background: color.adjust(black, $alpha: -0.9);
  }

  input:checked:not(:disabled) ~ .track::before {
    background: color.adjust(vars.$main, $alpha: -0.95);
  }
}
