@import '../var-defaults.scss';
@import '_attractions-theme.scss';

.dot {
  width: 0.625em;
  height: 0.625em;
  background: $main;
  border-radius: 50%;

  &.info {
    background: $info;
  }

  &.attention {
    background: $attention;
  }

  &.success {
    background: $success;
  }

  &.danger {
    background: $danger;
  }

  &.small {
    width: 0.375em;
    height: 0.375em;
  }
}
