@import '../var-defaults.scss';
@import '_attractions-theme.scss';

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $modal-overlay-bg;
  z-index: 1000;
  display: none;

  &.open {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
