[slot='showcase'] {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: visible !important;

  @media only screen and (max-width: 340px) {
    padding: 0.25em !important;
  }
}
