@use 'sass:color';
@use 'node_modules/attractions/_variables' as vars;
@use '../_mixins';

$hover-color: color.mix(white, vars.$main, 60%);
$selected-color: color.mix(white, vars.$main, 20%);

.star-rating {
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  border-radius: 1.5em;
  fill: none;

  &:focus-within {
    background: color.adjust(vars.$main, $alpha: -0.95);
  }

  input {
    @include mixins.hide-accessible;
  }

  label {
    padding: 0.5em;
    border-radius: 50%;
    cursor: pointer;
    color: vars.$off-state;

    :global svg {
      display: block;
    }

    :global .ripple {
      background: color.adjust(vars.$main, $alpha: -0.9);
    }

    &:hover {
      background: color.adjust(vars.$main, $alpha: -0.95);
      color: $hover-color;
    }

    &:hover ~ label {
      color: $hover-color;
    }
  }

  input:disabled + label {
    cursor: not-allowed;
    background: none;
    color: vars.$disabled;
  }

  input:checked + label,
  input:checked ~ input + label {
    color: $selected-color;
    fill: $selected-color;
  }
}
