@use 'sass:color';
@use 'sass:math';
@use 'node_modules/attractions/_variables' as vars;

$day-size: 2.25rem;
$day-gap: 0.0625rem;
$side-padding: 1rem;

.weekdays {
  padding: 0.5em 1em;
  display: flex;
  font-size: 0.85em;

  > .weekday {
    width: percentage(math.div(1, 7));
    text-align: center;
  }
}

.week {
  display: flex;

  .day {
    width: percentage(math.div(1, 7));
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:last-child {
      padding-right: $side-padding;
    }

    &:first-child {
      padding-left: $side-padding;
    }

    > :global .btn {
      font-weight: vars.$regular-font-weight;
      font-size: 0.9em;
      color: vars.$dark;
      justify-content: center;
      margin: $day-gap;
      z-index: 2;
      width: $day-size;
      height: $day-size;
    }

    &.today > :global .btn {
      color: vars.$main;
    }

    &.selected > :global .btn {
      background-color: color.scale(
        vars.$main,
        $lightness: 15%,
        $saturation: -20%
      );
      color: vars.$main-text;
    }

    &.outside > :global .btn {
      color: vars.$disabled;
    }

    &.in-range::before {
      background-color: color.adjust(vars.$main, $alpha: -0.75);
      content: '';
      height: $day-size;
      position: absolute;
      left: 0;
      right: 0;
      top: $day-gap;
      z-index: 1;
    }

    &.outside.selected > :global .btn {
      color: vars.$main-text;
    }

    &.start {
      &::before {
        right: 0;
        left: unset;
        width: math.div($day-size, 2) + $day-gap;
      }

      &:last-child::before {
        width: math.div($day-size, 2) + $day-gap + $side-padding;
      }
    }

    &.end {
      &::before {
        left: 0;
        right: unset;
        width: math.div($day-size, 2) + $day-gap;
      }
    }

    &.start:last-child,
    &.end:first-child {
      &::before {
        width: math.div($day-size, 2) + $day-gap + $side-padding;
      }
    }

    &.start.end::before {
      width: 0;
    }
  }
}
