@use 'sass:color';
@use 'node_modules/attractions/_variables' as vars;
@use '../_mixins';

.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  font-family: vars.$font;
  cursor: pointer;

  > input[type='checkbox'] {
    @include mixins.hide-accessible;
  }

  .selector {
    border-radius: 0.25em;
    width: 1em;
    height: 1em;
    border: 0.125em solid vars.$light-contrast;
    cursor: pointer;
    position: relative;

    &::before {
      content: '';
      width: 0;
      height: 0;
      border: 0 solid vars.$main-text;
      border-bottom-left-radius: 0.125em;
      left: 50%;
      position: absolute;
      top: 45%;
      transform: translate(-50%, -50%) rotate(-57deg) skew(-11deg);
      transition: width 75ms;
    }

    &::after {
      content: '';
      width: 2.25em;
      height: 2.25em;
      border-radius: 50%;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &.round > .selector {
    border-radius: 50%;
    width: 1.375em;
    height: 1.375em;
  }

  :disabled + .selector {
    cursor: not-allowed;
    background-color: color.scale(vars.$light-contrast, $lightness: 45%);
  }

  :checked + .selector {
    background-color: vars.$main;
    border-color: vars.$main;

    &::before {
      width: 0.5625em;
      height: 0.375em;
      border-bottom-width: 0.125em;
      border-left-width: 0.125em;
    }
  }

  :disabled:checked + .selector {
    background-color: vars.$disabled;
    border-color: color.scale(vars.$disabled, $lightness: 4%);
  }

  &:hover {
    .selector::after {
      background-color: color.adjust(vars.$dark, $alpha: -0.95);
    }

    :checked + ::after {
      background-color: color.adjust(vars.$main, $alpha: -0.95);
    }

    :disabled + .selector::after {
      background: none;
    }
  }

  :focus + .selector::after {
    background-color: color.adjust(vars.$dark, $alpha: -0.875);
  }

  :focus:checked + ::after {
    background-color: color.adjust(vars.$main, $alpha: -0.875);
  }
}
