@import '../var-defaults.scss';
@import '_attractions-theme.scss';

h1 {
  color: $main;
  font-size: 1.4em;
  font-weight: 500;
  margin: 0 0 .5em 0;

  @media only screen and (min-width: 640px) {
    font-size: 1.55em;
  }

  @media only screen and (min-width: 840px) {
    font-size: 1.7em;
  }

  @media only screen and (min-width: 1024px) {
    font-size: 1.8em;
  }
}
