@import "../var-defaults.scss";
@import "../_mixins.scss";
@import "_attractions-theme.scss";

.radio {
  display: flex;
  align-items: center;
  font-family: $font;
  position: relative;
  cursor: pointer;

  > input[type="radio"] {
    @include hide-accessible;
  }

  > .selector {
    border-radius: 50%;
    width: 1.25em;
    height: 1.25em;
    cursor: pointer;
    border: .125em solid $light-contrast;
    position: relative;

    &::after {
      content: "";
      width: 2.25em;
      height: 2.25em;
      border-radius: 50%;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  > input:disabled + .selector {
    cursor: not-allowed;
    background-color: lighten($light-contrast, 6%);
  }

  > input:checked + .selector {
    background-color: $main;
    border-color: $main;

    &::before {
      content: "";
      width: .5em;
      height: .5em;
      background-color: $main-text;
      border-radius: 50%;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  > input:disabled:checked + .selector {
    background-color: $disabled;
    border-color: lighten($disabled, 4%);
  }

  &:hover {
    > input:not(:disabled) + .selector::after {
      background-color: transparentize($dark, .95);
    }

    > input:checked + .selector::after {
      background-color: transparentize($main, .95);
    }
  }

  > input:focus + .selector::after {
    background-color: transparentize($dark, .875);
  }

  > input:focus:checked + .selector::after {
    background-color: transparentize($main, .875);
  }
}
