div[role='radiogroup'] :global {
  .radio:not(.colored) > .selector {
    margin: 0 0.5em;
  }

  .radio.colored > input + .selector::before {
    background-color: #d3d3d3;
    background-color: rgb(var(--before-r) var(--before-g) var(--before-b));
  }

  .radio.colored:hover > input + .selector::after {
    background-color: rgb(0 0 0 / 5%);
    background-color: rgb(var(--r) var(--g) var(--b) / 5%);
  }

  .radio.colored > input:focus + .selector::after {
    background-color: rgb(0 0 0 / 12.5%);
    background-color: rgb(var(--r) var(--g) var(--b) / 12.5%);
  }
}
