@import '../var-defaults.scss';
@import '_attractions-theme.scss';

.badge {
  position: relative;

  &::after {
    position: absolute;
    top: -0.1875em;
    right: -0.125em;
    width: 0.625em;
    height: 0.625em;
    border-radius: 50%;
    background-color: $badge-default;
    box-shadow: $shadow-raised;
    content: '';
  }

  &.hidden::after {
    display: none;
  }

  :global .icon {
    display: block;
  }
}
