@import '../var-defaults.scss';
@import '_attractions-theme.scss';

.popover-button {
  background: rgb(100, 100, 100);
  border-radius: 0.625em;
  font-weight: $bold-font-weight;
  font-size: 0.9em;
  font-family: $font;
  box-shadow: $shadow-raised;
  border: 0;
  outline: none;
  color: #fff;
  padding: 0.5em 0.625em;
  margin: 0.2em;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover {
    background: rgb(70, 70, 70);
  }

  &:focus {
    background: rgb(50, 50, 50);
  }

  > :global svg {
    width: 1.125em;
    height: 1.125em;
    stroke: #fff;
  }
}
