@use 'attractions-theme' as vars;

.info-tile {
  margin-bottom: 1em;
  cursor: pointer;

  :global .card {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    column-gap: 1em;
    transition: 150ms box-shadow;

    &:hover {
      box-shadow: vars.$shadow-raised;
    }
  }

  .icon {
    padding: 0.8em;
    border-radius: 50%;
    background: vars.$main;
    color: white;
    grid-row: span 2;
    align-self: center;

    :global svg {
      display: block;
    }
  }

  .subtitle {
    font-size: 0.9em;
    font-weight: vars.$thin-font-weight;
    color: vars.$main;
  }

  @media only screen and (min-width: 640px) {
    margin-bottom: 2.5em;

    :global .card {
      width: 30em;
    }
  }

  @media only screen and (min-width: 1024px) {
    margin-bottom: 1em;
  }
}
