$font: 'Ubuntu', sans-serif;

$main: #007a00;
$background: #fff;
$main-text: #fff;
$danger: #b80000;
$dark: #333;
$disabled-bg: #d7d7d7;
$disabled: #888;
$link-visited: #50005f;
$info: #86d3ff;
$attention: #ffb359;
$success: #9cde70;
$badge-default: #ff5757;
$light-contrast: #ddd;
$textfield-bg: #f5f5f5;
$textfield-bg-error: #fbeeee;
$textfield-border: transparentize(black, .58);
$textfield-item: #7a7a7a;
$off-state: #aaa;
$chip-bg: transparentize(black, .92);
$chip-fg: #656565;
$snackbar-bg: lighten($dark, 5%);
$snackbar-fg: #fff;
$modal-overlay-bg: transparentize(black, .75);

$chip-radius: 1.5625em;
$button-radius: 1.5625em;
$snackbar-radius: .625em;
$dialog-radius: 1.5625em;
$dropzone-radius: 1.5625em;
$card-radius: 1.25em;
$file-tile-radius: .625em;

$snackbar-horizontal-offset: 5%;
$snackbar-vertical-offset: 3em;

$bold-font-weight: 500;
$thin-font-weight: 300;

$shadow-0:
  0 2px 2px 0 transparentize(black, .86),
  0 1px 5px 0 transparentize(black, .88);

$shadow-1:
  0 2px 5px transparentize(black, .86),
  0 1px 5px transparentize(black, .88);

$shadow-raised:
  0 2px 4px -1px transparentize(black, .8),
  0 3px 5px 0    transparentize(black, .86),
  0 1px 10px 0   transparentize(black, .88);
