@use 'node_modules/attractions/_variables' as vars;

.snackbar-stack {
  position: fixed;
  z-index: 2000;
  display: flex;
  flex-direction: column;

  &.left {
    left: vars.$snackbar-horizontal-offset;
    align-items: flex-start;
  }

  &.right {
    right: vars.$snackbar-horizontal-offset;
    align-items: flex-end;
  }

  &.h-middle {
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
  }

  &.top {
    top: vars.$snackbar-vertical-offset;
  }

  &.bottom {
    bottom: vars.$snackbar-vertical-offset;
  }

  &.v-middle {
    top: 50%;
    transform: translateY(-50%);
  }
}
