@import '../var-defaults.scss';
@import '../_mixins.scss';
@import '_attractions-theme.scss';

.file-dropzone {
  color: $main;
  display: block;
  border: 0.125em dashed currentColor;
  margin: 2em 0 0.5em;
  position: relative;
  border-radius: $dropzone-radius;

  &:focus-within {
    border-style: solid;
    border-color: transparentize($main, 0.5);
  }

  &.disabled {
    color: $disabled;
  }

  input {
    @include hide-accessible;
  }

  :global .icon {
    stroke: currentColor;
  }

  .empty-layer {
    display: flex;
    align-items: center;
    z-index: 1;
    padding: 2em 1em;

    .title {
      font-weight: $bold-font-weight;
      color: currentColor;
      text-align: center;
      margin-left: 0.5em;
      flex: 1;
    }
  }

  .dropzone-layer {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    border-radius: $dropzone-radius;

    &:hover {
      background: transparentize($main, 0.975);
    }

    :global .ripple {
      background: transparentize($main, 0.9);
    }

    &.accepting {
      background: transparentize($main, 0.95);
    }

    :global svg {
      margin-right: 1em;
      stroke: currentColor;
      transition: transform 150ms;
      opacity: 0;
      pointer-events: none;
    }
  }

  input:focus ~ .dropzone-layer {
    background: transparentize($main, 0.95);
  }

  &.disabled .dropzone-layer {
    background: none;
    cursor: not-allowed;
  }

  &.has-content {
    display: grid;
    gap: 0.5em;
    padding: 1em;
    grid-template-columns: repeat(auto-fill, 12em);

    .empty-layer {
      display: none;
    }

    .dropzone-layer :global svg {
      opacity: 1;
    }
  }

  &.wrong-type {
    color: $danger;

    .dropzone-layer {
      &:hover {
        background: transparentize($danger, 0.975);
      }

      &.accepting {
        background: transparentize($danger, 0.95);
      }

      :global .ripple {
        background: transparentize($danger, 0.9);
      }

      :global svg.plus {
        transform: rotate(45deg);
      }
    }
  }
}
