$font: "Ubuntu", sans-serif;
$main: #4300b0;
$background: #fff;
$light-contrast: #ddd;
$code-bg: #fcfcfc;
$dark: #333;
$link-visited: #50005f;

$bold-font-weight: 500;
$thin-font-weight: 300;

/* stylelint-disable scss/dollar-variable-colon-space-after */
$shadow-raised:
  0 2px 4px -1px transparentize(black, .8),
  0 3px 5px 0    transparentize(black, .86),
  0 1px 10px 0   transparentize(black, .88);
/* stylelint-enable scss/dollar-variable-colon-space-after */

:global {
  @import "global.scss";
}
