@import "_attractions-theme.scss";

nav {
  display: none;

  @media only screen and (min-width: 1024px) {
    display: block;
    margin-right: 3em;
    padding: .5em .5em .5em 0;
    min-width: 13em;
    border-right: 1px solid transparentize($main, .75);

    :global .btn {
      white-space: nowrap;
      margin-bottom: .25em;
    }

    :global .accordion {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      section {
        margin: .5em 0 .5em 1em;
        padding-left: .5em;
        border-left: 1px solid $light-contrast;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}
