@use 'sass:color';
@use 'attractions-theme' as vars;

nav {
  display: none;

  @media only screen and (min-width: 1024px) {
    border-right: 1px solid color.adjust(vars.$main, $alpha: -0.75);
    display: block;
    margin-right: 3em;
    min-width: 13em;
    padding: 0.5em 0.5em 0.5em 0;

    :global .btn {
      margin-bottom: 0.25em;
      white-space: nowrap;
    }

    :global .accordion {
      align-items: flex-start;
      display: flex;
      flex-direction: column;

      section {
        align-items: flex-start;
        border-left: 1px solid vars.$light-contrast;
        display: flex;
        flex-direction: column;
        margin: 0.5em 0 0.5em 1em;
        padding-left: 0.5em;
      }
    }
  }
}
