@use 'sass:color';
@use 'attractions-theme' as vars;

$side-margin: 1em;

header {
  padding-top: 0.6em;
  padding-bottom: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid color.adjust(vars.$main, $alpha: -0.75);

  .logo,
  .clickables {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-left: $side-margin + 0.7em;
    text-decoration: none;

    span {
      margin-left: 0.7em;
      font-size: 1.25em;
      font-weight: vars.$bold-font-weight;
      color: black;
    }
  }

  .clickables {
    margin-right: $side-margin;

    :global .dropdown-chevron {
      margin-top: -2px;
    }
  }
}
