@use 'attractions-theme' as vars;

nav {
  display: none;

  @media only screen and (min-width: 1024px) {
    display: flex;
    align-items: center;
    flex: 1;
    margin: 0 2em;
    font-weight: vars.$thin-font-weight;

    .node {
      margin: 0 0.25em;
    }
  }
}
