@use 'attractions-theme' as vars;

.copyable {
  position: relative;
  background: vars.$code-bg;
  border-radius: 0.3em;

  .filename {
    padding: 0.5em 1rem;
    font-size: 0.8em;
    font-weight: 500;
    display: flex;
    align-items: center;
  }

  :global .filename + pre {
    margin-top: 0;
    padding-top: 0.5em;
  }

  > :global .btn {
    position: absolute;
    top: 0.3em;
    right: 0.3em;
  }
}
