@use 'sass:color';
@use 'attractions-theme' as vars;

.related-components {
  margin-top: 1.5em;
  padding: 1em 1em 1em 2em;
  background: color.adjust(vars.$main, $alpha: -0.97);
  border-radius: 1em;
  display: flex;
  flex-wrap: wrap;

  :global {
    .label {
      width: 100%;
      margin-bottom: 0.75em;
    }

    .card {
      margin: 0 0.5em 0.5em 0;
      padding: 0.5em;
    }
  }
}
