@use 'attractions-theme' as vars;

.preview {
  display: flex;
  align-items: center;
  font-family: 'Roboto Mono', monospace;
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.25em;
  background: vars.$background;
}

.value-popover {
  background: vars.$background;
  padding: 0.5em;
  margin-right: 0.25em;
  box-shadow: vars.$shadow-raised;
  white-space: pre;
  font-family: 'Roboto Mono', monospace;
  border-radius: 0.5em;
  color: vars.$dark;
}
