@import '../var-defaults.scss';
@import '_attractions-theme.scss';
@import './radio-chip.scss';

.chip {
  position: relative;
  transition: padding-left 50ms;

  &::before {
    transition: width 50ms;
    border: 0 solid $main;
    width: 0;
    height: 0.5625em;
    content: '';
    transform: translateY(-50%) rotate(45deg);
    position: absolute;
    left: 0.9em;
    top: 45%;
  }
}

input:checked + .chip {
  padding-left: 2em;

  &::before {
    width: 0.3125em;
    border-bottom-width: 0.125em;
    border-right-width: 0.125em;
  }
}
