@import '../var-defaults.scss';
@import '../_mixins.scss';
@import '_attractions-theme.scss';
@import './chip.scss';

.chip-wrapper > input {
  @include hide-accessible;
}

.chip {
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;

  :global .ripple {
    background: transparentize($main, .9);
  }

  &.outline {
    border-color: opacify($chip-bg, .1);
  }
}

input + .chip {
  &:hover {
    background: opacify($chip-bg, .05);
  }

  &.outline:hover {
    background: transparentize($chip-bg, .02);
  }
}

input:disabled + .chip {
  background: transparentize($chip-bg, .05);
  color: lighten($chip-fg, 10%);
  cursor: not-allowed;

  &:hover {
    background: transparentize($chip-bg, .05);
  }
}

input:focus + .chip {
  background: opacify($chip-bg, .1);

  &.outline {
    background: opacify($chip-bg, .02);
  }
}

input:checked + .chip {
  background: transparentize($main, .88);
  color: $main;

  &.outline {
    background: transparentize($main, .94);
    color: $main;
    border-color: $main;
  }
}

input:focus:checked + .chip {
  background-color: transparentize($main, .75);

  &.outline {
    background-color: transparentize($main, .88);
  }
}
