@import "_attractions-theme.scss";

main {
  display: flex;
  margin: 1em 0 2em;

  article {
    width: 100%;
    padding: 1em 0;
  }

  :global .required {
    color: $main;
    font-size: .9em;
  }

  @media only screen and (min-width: 1024px) {
    margin-top: 2em;
    flex: 1;
  }
}
