@import "_attractions-theme.scss";

.installation {
  margin-top: .5em;

  :global {
    nav {
      justify-content: flex-start;
      padding: 0 .5em;
    }

    pre {
      margin-top: 0;
    }
  }
}

strong {
  color: $main;
}
