@import '../var-defaults.scss';
@import '_attractions-theme.scss';

.btn {
  font-family: $font;
  font-weight: $bold-font-weight;
  font-size: 1rem;
  color: $main;
  text-decoration: none;
  outline: none;
  background: none;
  padding: .8em 1.1em;
  border-radius: $button-radius;
  display: flex;
  align-items: center;
  cursor: pointer;

  :global(.ripple) {
    background: transparentize($main, .9);
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &:visited {
    color: $main;
  }

  &.neutral {
    color: $dark;

    :global(.icon) {
      stroke: $dark;
    }

    :global(.ripple) {
      background: transparentize($dark, .9);
    }
  }

  &.danger {
    color: $danger;

    :global(.icon) {
      stroke: $danger;
    }

    :global(.ripple) {
      background: transparentize($danger, .9);
    }
  }

  &.rectangle {
    border-radius: $button-radius / 2;
    padding: 1.2em;
    font-size: 1.1rem;
  }

  &.filled {
    background: $main;
    background: linear-gradient(0deg, $main 0%, lighten($main, 5%) 100%);
    box-shadow: $shadow-1;
    color: $main-text;

    &:hover:not(:disabled) {
      background: lighten($main, 2%);
      background: linear-gradient(0deg, lighten($main, 2%) 0%, lighten($main, 7%) 100%);
      box-shadow: $shadow-raised;
    }

    &:focus:not(:disabled) {
      background: lighten($main, 5%);
      background: linear-gradient(0deg, lighten($main, 5%) 0%, lighten($main, 10%) 100%);
      box-shadow: $shadow-raised;
    }

    &.danger {
      background: $danger;
      background: linear-gradient(0deg, $danger 0%, lighten($danger, 5%) 100%);

      &:hover:not(:disabled) {
        background: lighten($danger, 2%);
        background: linear-gradient(0deg, lighten($danger, 2%) 0%, lighten($danger, 7%) 100%);
      }

      &:focus:not(:disabled) {
        background: lighten($danger, 5%);
        background: linear-gradient(0deg, lighten($danger, 5%) 0%, lighten($danger, 10%) 100%);
      }
    }

    &.neutral {
      background: $dark;
      background: linear-gradient(0deg, $dark 0%, lighten($dark, 5%) 100%);

      &:hover:not(:disabled) {
        background: lighten($dark, 2%);
        background: linear-gradient(0deg, lighten($dark, 2%) 0%, lighten($dark, 7%) 100%);
      }

      &:focus:not(:disabled) {
        background: lighten($dark, 5%);
        background: linear-gradient(0deg, lighten($dark, 5%) 0%, lighten($dark, 10%) 100%);
      }
    }

    &:disabled {
      background: $disabled-bg;
      box-shadow: none;
    }

    :global(.icon) {
      stroke: $main-text;
    }

    :global(.ripple) {
      background: transparentize($main-text, .75);
    }
  }

  &.outline {
    border: 1px solid $main;

    &.danger {
      border-color: $danger;
    }

    &.neutral {
      border-color: $dark;
    }

    &:disabled {
      border-color: $disabled-bg;
    }
  }

  &:hover:not(:disabled) {
    &,
    &.outline {
      background: transparentize($main, .95);
    }

    &.danger,
    &.outline.danger {
      background: transparentize($danger, .95);
    }

    &.neutral,
    &.outline.neutral {
      background-color: transparentize($dark, .95);
    }
  }

  &:focus:not(:disabled) {
    &,
    &.outline {
      background-color: transparentize($main, .88);
    }

    &.danger,
    &.outline.danger {
      background: transparentize($danger, .88);
    }

    &.neutral,
    &.outline.neutral {
      background-color: transparentize($dark, .88);
    }
  }

  &:disabled {
    color: $disabled;
    background: transparent;
    cursor: default;

    :global(.icon) {
      stroke: $disabled;
    }
  }

  &.round {
    padding: .7em;
  }

  &.small {
    padding: .5em .8em;

    &.round {
      padding: .5em;
    }
  }

  &.selected:not(.filled) {
    background: transparentize($main, .88);
  }

  :global(.icon) {
    stroke: $main;
  }
}

button.btn {
  border: 0;
}
