@use 'sass:color';
@use 'node_modules/attractions/_variables' as vars;
@use '../_appearances';

@mixin color-text-icon-ripple($color) {
  color: $color;

  .icon {
    stroke: $color;
  }

  .ripple {
    background: color.adjust($color, $alpha: -0.9);
  }
}

@mixin filled-interactive-background($color) {
  background: $color;
  background: linear-gradient(
    0deg,
    $color 0%,
    color.scale($color, $lightness: 10%) 100%
  );

  &:hover:not([disabled]) {
    background: color.scale($color, $lightness: 5%);
    background: linear-gradient(
      0deg,
      color.scale($color, $lightness: 5%) 0%,
      color.scale($color, $lightness: 15%) 100%
    );
  }

  &:focus:not([disabled]) {
    background: color.adjust($color, $lightness: 10%);
    background: linear-gradient(
      0deg,
      color.scale($color, $lightness: 10%) 0%,
      color.scale($color, $lightness: 20%) 100%
    );
  }
}

@mixin flat-interactive-background($color) {
  &,
  &.outline {
    &:hover:not([disabled]) {
      background: color.adjust($color, $alpha: -0.95);
    }

    &:focus:not([disabled]) {
      background: color.adjust($color, $alpha: -0.88);
    }
  }
}

.btn {
  @include appearances.button;

  @include flat-interactive-background(vars.$main);

  font-size: 1rem;
  border-radius: vars.$button-radius;
  background: none;
  padding: 0.8em 1.1em;

  :global {
    @include color-text-icon-ripple(vars.$main);
  }

  &.danger {
    @include flat-interactive-background(vars.$danger);

    :global {
      @include color-text-icon-ripple(vars.$danger);
    }
  }

  &.neutral {
    @include flat-interactive-background(vars.$dark);

    :global {
      @include color-text-icon-ripple(vars.$dark);
    }
  }

  &.filled {
    @include filled-interactive-background(vars.$main);
    box-shadow: vars.$shadow-1;

    &:hover:not([disabled]),
    &:focus:not([disabled]) {
      box-shadow: vars.$shadow-raised;
    }

    &.danger {
      @include filled-interactive-background(vars.$danger);
    }

    &.neutral {
      @include filled-interactive-background(vars.$dark);
    }

    :global {
      @include color-text-icon-ripple(vars.$main-text);
    }

    &[disabled] {
      background: vars.$disabled-bg;
      box-shadow: none;
    }
  }

  &.outline {
    border: 1px solid vars.$main;

    &.danger {
      border-color: vars.$danger;
    }

    &.neutral {
      border-color: vars.$dark;
    }

    &[disabled] {
      border-color: vars.$disabled-bg;
    }
  }

  &[disabled] {
    color: vars.$disabled;
    background: transparent;
    cursor: default;

    :global .icon {
      stroke: vars.$disabled;
    }
  }

  &.round {
    padding: 0.7em;
  }

  &.rectangle {
    border-radius: vars.$button-radius / 2;
    padding: 1.2em;
    font-size: 1.1rem;
  }

  &.small {
    padding: 0.5em 0.8em;

    &.round {
      padding: 0.5em;
    }
  }

  &.selected:not(.filled) {
    background: color.adjust(vars.$main, $alpha: -0.88);
  }
}

button.btn {
  border: 0;
}

a.btn {
  text-decoration: none;

  // &:visited {
  //   color: vars.$main;
  // }

  &[disabled] {
    pointer-events: none;
  }
}
