@use 'sass:color';
@use 'attractions-theme' as vars;

.toolchain {
  background: color.adjust(vars.$main, $alpha: -0.97);
  border-radius: 1em;
  display: grid;
  gap: 0.35em;
  grid-auto-flow: column;
  grid-template: auto auto / 1fr 1fr 1fr;
  justify-items: center;
  margin: 2em 0;
  padding: 1.5em 1em;
}

.prelude {
  margin-bottom: 1.5em;
}

.caution {
  background: color.adjust(vars.$attention, $alpha: -0.93);
  border-radius: 1em;
  font-size: 0.9em;
  font-weight: 300;
  margin: 2em 0;
  padding: 1.5em;

  :global .label {
    color: color.scale(vars.$attention, $lightness: -30%);
    margin-bottom: 0.5em;
  }
}

strong {
  color: vars.$main;
}
