@use 'node_modules/attractions/_variables' as vars;

h3 {
  font-size: 1.15em;
  font-weight: vars.$bold-font-weight;
  margin: 0 0 0.3em;

  @media only screen and (min-width: 640px) {
    font-size: 1.25em;
  }

  @media only screen and (min-width: 840px) {
    font-size: 1.35em;
  }
}
