@use 'node_modules/attractions/_variables' as vars;

.headline {
  color: vars.$main;
  font-size: 1.5em;
  font-weight: vars.$bold-font-weight;
  margin-bottom: 0.2em;

  @media only screen and (min-width: 640px) {
    font-size: 1.9em;
  }

  @media only screen and (min-width: 840px) {
    font-size: 2em;
  }

  @media only screen and (min-width: 1024px) {
    font-size: 2.1em;
  }

  @media only screen and (min-width: 1200px) {
    font-size: 2.2em;
  }
}
