@use 'node_modules/attractions/_variables' as vars;

.label {
  color: vars.$main;
  font-size: 0.8em;
  font-weight: vars.$bold-font-weight;
  text-transform: uppercase;

  &.small {
    font-size: 0.7em;
  }
}
