@import "../var-defaults.scss";
@import "_attractions-theme.scss";

.label {
  text-transform: uppercase;
  color: $main;
  font-weight: $bold-font-weight;
  font-size: .8em;

  &.small {
    font-size: .7em;
  }
}
