@import "../var-defaults.scss";
@import "_attractions-theme.scss";

:global {
  html {
    font-family: $font;
  }

  p {
    line-height: 1.2em;
  }

  strong {
    font-weight: $bold-font-weight;
  }

  a {
    color: $main;

    &:visited {
      color: $link-visited;
    }
  }
}
