@import '../var-defaults.scss';
@import '_attractions-theme.scss';

:global(html) {
  font-family: $font;
}

:global(p) {
  line-height: 1.2em;
}

:global(strong) {
  font-weight: $bold-font-weight;
}

:global(a) {
  color: $main;

  &:visited {
    color: $link-visited;
  }
}
