@use 'sass:color';
@use 'node_modules/attractions/_variables' as vars;
@use '../_appearances';

.text-field {
  input[type='search']::-webkit-search-cancel-button {
    position: relative;
    top: 1px;
    height: 1.25em;
    width: 1.25em;
    cursor: pointer;
    border-radius: 50%;
    appearance: none;
    border: 0.1875em solid transparent;
    background-image: url(vars.$x-icon);
    background-size: contain;

    &:hover {
      background-color: color.adjust(vars.$dark, $alpha: -0.9);
    }
  }

  input,
  textarea {
    @include appearances.text-field;
    @include appearances.text-field-input;

    &:focus {
      @include appearances.text-field-focused;
    }
  }

  input:disabled,
  textarea:disabled {
    @include appearances.text-field-disabled;
  }

  textarea {
    padding: 0.75em 0.625em 0.0625em;
    height: 6em;
  }

  &.with-item {
    position: relative;

    &.left {
      flex-direction: row-reverse;

      input,
      textarea {
        padding-left: 3rem;
      }

      input[type='search'] {
        padding-left: 2.2em;
      }

      > :global .item {
        left: 0.625em;
        font-weight: vars.$bold-font-weight;
      }
    }

    &.right {
      input,
      textarea {
        padding-right: 1.875em;
        text-align: right;
      }

      > :global .item {
        right: 0.625em;
      }
    }

    > :global .item {
      color: vars.$textfield-item;
      height: 1.1em;
      position: absolute;
      top: 0.85em;
    }

    > input:focus + :global .item {
      color: vars.$main;
      stroke: vars.$main;

      :global svg {
        stroke: vars.$main;
      }
    }

    &.right-align input {
      text-align: right;
    }

    input[type='number'] {
      appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
      }
    }

    > :global svg.item {
      height: 1em;
      top: 0.9em;
    }

    input:invalid + :global svg.item {
      stroke: vars.$danger;
    }
  }

  &.outline {
    position: relative;
    margin-top: 0.65em;

    label {
      font-family: vars.$font;
      background-color: vars.$background;
      color: vars.$textfield-border;
      padding: 0 0.25em;
      position: absolute;
      top: 0;
      left: 1.4em;
      transform: translate(-0.25em, -55%);
      border-radius: 0.3125em;
    }

    &.with-item.left {
      input {
        padding-left: 2.2em;
      }

      label {
        left: 2.2em;
      }

      :global svg {
        stroke: vars.$disabled;
      }

      > input:focus ~ :global .item {
        color: vars.$main;
      }
    }

    input {
      border-radius: vars.$textfield-outline-radius;
      border: 1px solid vars.$textfield-border;
      background-color: transparent;
      padding: 0 1.4em;

      &:hover {
        border-color: color.adjust(black, $alpha: -0.3);

        + label {
          color: color.adjust(black, $alpha: -0.3);
        }
      }

      &:focus {
        border-color: vars.$main;

        + label {
          color: vars.$main;
        }
      }

      &:invalid {
        border-color: color.adjust(vars.$danger, $alpha: -0.3);

        + label {
          color: color.adjust(vars.$danger, $alpha: -0.3);
        }

        ~ :global svg.item {
          stroke: color.adjust(vars.$danger, $alpha: -0.3);
        }

        &:focus ~ :global svg.item {
          stroke: color.adjust(vars.$danger, $alpha: -0.3);
        }
      }
    }

    input:focus ~ :global svg.item {
      stroke: vars.$main;
    }
  }

  input:invalid {
    box-shadow: none;
    border-bottom-color: vars.$danger;
    background: vars.$textfield-bg-error;
  }

  input:not(.outline):invalid {
    background-color: vars.$textfield-bg-error;
  }

  :-moz-ui-invalid {
    box-shadow: none;
  }

  > .error {
    font-size: 0.8rem;
    color: color.adjust(vars.$danger, $alpha: -0.3);
    font-weight: vars.$bold-font-weight;
  }

  &.no-spinner > input[type='number'] {
    appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
      margin: 0;
    }
  }
}
