@use 'attractions-theme' as vars;

h2 {
  font-size: 1.3em;
  font-weight: vars.$bold-font-weight;
  margin: 2em 0 1em;

  @media only screen and (min-width: 640px) {
    font-size: 1.4em;
  }

  @media only screen and (min-width: 840px) {
    font-size: 1.5em;
  }
}
