@use 'sass:color';
@use 'attractions-theme' as vars;

td {
  border: 0 solid color.adjust(vars.$main, $alpha: -0.75);
  border-width: 1px 0 0 1px;
  line-height: 1.3em;
  padding: 1em;

  &:last-child {
    border-right-width: 1px;
  }
}
