@import '../var-defaults.scss';
@import '_attractions-theme.scss';

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: $font;
  font-size: 1em;
  width: 100%;
  text-align: left;
  padding: .7em 1.2em;

  .subtext {
    font-size: .95em;
    margin-top: .2em;
    font-weight: $thin-font-weight;
  }

  &:hover {
    background: transparentize($main, .95);
  }

  &:focus {
    background: transparentize($main, .925);
  }

  mark {
    background: none;
    color: $main;
    font-weight: $bold-font-weight;
  }
}
