@import '../var-defaults.scss';
@import '../_mixins.scss';
@import '_attractions-theme.scss';

.image-platform {
  color: $main;
  display: block;
  border: 2px dashed currentColor;
  margin: 2em 0 .5em;
  width: 100%;
  position: relative;
  border-radius: $dropzone-radius;

  input {
    @include hide-accessible;
  }

  :global(.icon) {
    stroke: currentColor;
  }

  .empty-layer {
    display: flex;
    align-items: center;
    z-index: 1;
    padding: 2em 1em;

    .title {
      font-weight: 500;
      color: currentColor;
      text-align: center;
      margin-left: .5em;
      flex: 1;
    }
  }

  .dropzone-layer {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1.5625rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;

    &:hover {
      background: transparentize($main, .975);
    }

    :global(.ripple) {
      background: transparentize($main, .9);
    }

    &.accepting {
      background: transparentize($main, .95);
    }

    :global(svg) {
      margin-right: 1em;
      stroke: currentColor;
      transition: transform 150ms;
      opacity: 0;
    }
  }

  &.has-content {
    display: grid;
    gap: .5em;
    padding: 1em;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 12em);

    .empty-layer {
      display: none;
    }

    .dropzone-layer :global(svg) {
      opacity: 1;
    }
  }

  &.wrong-type {
    color: $danger;

    .dropzone-layer {
      &:hover {
        background: transparentize($danger, .975);
      }

      &.accepting {
        background: transparentize($danger, .95);
      }

      :global(.ripple) {
        background: transparentize($danger, .9);
      }

      :global(svg.plus) {
        transform: rotate(45deg);
      }
    }
  }
}
